<!DOCTYPE html>
<!-- saved from url=(0058)http://twitter.github.com/bootstrap/examples/carousel.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Go to London</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="/app/assets/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/app/assets/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<style>

        /* GLOBAL STYLES
        -------------------------------------------------- */
        /* Padding below the footer and lighter body text */

    body {
        padding-bottom: 40px;
        color: #5a5a5a;
    }



        /* CUSTOMIZE THE NAVBAR
        -------------------------------------------------- */

        /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin-top: 20px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

        /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
        border: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

        /* Downsize the brand/project name a bit */
    .navbar .brand {
        padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

        /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
        padding: 15px 20px;
    }

        /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
        margin-top: 10px;
    }



        /* CUSTOMIZE THE CAROUSEL
        -------------------------------------------------- */

        /* Carousel base class */
    .carousel {
        margin-bottom: 60px;
    }

    .carousel .container {
        position: relative;
        z-index: 9;
    }

    .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
    }

    .carousel .item {
        height: 500px;
    }
    .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
    }

    .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 550px;
        padding: 0 20px;
        margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
        margin-top: 10px;
    }



        /* MARKETING CONTENT
        -------------------------------------------------- */

        /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
        text-align: center;
    }
    .marketing h2 {
        font-weight: normal;
    }
    .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
    }


        /* Featurettes
        ------------------------- */

    .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

        /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
        margin-right: 40px;
    }
    .featurette-image.pull-right {
        margin-left: 40px;
    }

        /* Thin out the marketing headings */
    .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }



        /* RESPONSIVE CSS
        -------------------------------------------------- */

    @media (max-width: 979px) {

        .container.navbar-wrapper {
            margin-bottom: 0;
            width: auto;
        }
        .navbar-inner {
            border-radius: 0;
            margin: -20px 0;
        }

        .carousel .item {
            height: 500px;
        }
        .carousel img {
            width: auto;
            height: 500px;
        }

        .featurette {
            height: 70px;
            padding: 0;
        }
        .featurette-image.pull-left,
        .featurette-image.pull-right {
            display: block;
            float: none;
            max-width: 40%;
            margin: 0 auto 20px;
        }
    }


    @media (max-width: 767px) {

        .navbar-inner {
            margin: -20px;
        }

        .carousel {
            margin-left: -20px;
            margin-right: -20px;
        }
        .carousel .container {

        }
        .carousel .item {
            height: 300px;
        }
        .carousel img {
            height: 300px;
        }
        .carousel-caption {
            width: 65%;
            padding: 0 70px;
            margin-top: 100px;
        }
        .carousel-caption h1 {
            font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
            font-size: 18px;
        }

        .marketing .span4 + .span4 {
            margin-top: 40px;
        }

        .featurette-heading {
            font-size: 30px;
        }
        .featurette .lead {
            font-size: 18px;
            line-height: 1.5;
        }

    }
</style><style type="text/css"></style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="app/assets/javascripts/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
<style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style></head>

<body>



<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="index.html.erb"><img src="http://i.imgur.com/lgOf98s.png" width="100"></a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Home</a></li>
            <li><a href="controls/offer.html">Offer</a></li>
            <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#contact">Contact</a></li>
            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
            <li class="dropdown">
              <a href="http://twitter.github.com/bootstrap/examples/carousel.html#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Action</a></li>
                <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Another action</a></li>
                <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Separated link</a></li>
                <li><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->



<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://images.travelpod.com/tripwow/photos/ta-00ae-1584-d0ef/the-tower-bridge-in-london-london-united-kingdom+1152_12882015962-tpfil02aw-11065.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Chcesz studiować w Londynie?</h1>
          <p class="lead">Pojedź z nami i zobacz czy rzeczywistość sprosta Twoim marzeniom!</p>
          <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Obczaj</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://www.glsvlsi.org/paris_pic.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>A może studia en français w Paryżu ?</h1>
          <p class="lead">Pojedź z nami i obczaj czy chcesz zajadać croissanty pod Wieżą Eiffela!</p>
          <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Obczaj</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="http://www.dp-mediendesign.at/wp-content/uploads/2012/07/Video-Bericht.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Wiedeń brzmi nieźle</h1>
          <p class="lead">Może studia w rytmie walca wiedeńskiego??</p>
          <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Obczajka</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://bluedirt.com.au/mtbriding/wp-content/uploads/2012/09/Torquay-Forrest-Trip-v2.jpg">
      <h2>Żyj pełnią życia</h2>
      <p>Niech fantastycznie lutnia nastrojona
        Wtóruje myśli posępnej i ciemnej —
        Bom oto wstąpił w grób Agamemnona
        I siedzę cichy w kopule podziemnej,
        Co krwią Atrydów zwalana okrutną.
        Serce zasnęło, lecz śni. — Jak mi smutno!
      </p>
      <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Obczajka</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://futurechallenges.org/wp-content/uploads/2011/10/Education_Image.jpg">
      <h2>Dla czarnych też</h2>
      <p>Smintejczyku! Co strzałę wypuszczasz daleką,
        Co masz Tened i Killę pod możną opieką:
        Jeśli wieńcami twoje zdobiłem kościoły,
        Jeślim ci na ofiarę bił kozły i woły,
        Niech prośba ta od ciebie będzie wysłuchana:
        Zemścij się łukiem twoim obelgi kapłana</p>
      <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Oblukaj</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="http://shame-full.com/wp-content/uploads/2013/02/people-smiling.jpg">
      <h2>Wyrywaj spoko sunie</h2>
      <p>Patrz jak oczekują ziomek. Nie wahaj się i wyrywaj.</p>
      <p><a class="btn" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Wyrwij</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="http://www.cyprusnewsreport.com/?q=system/files/smiling_woman_2.jpg">
    <h2 class="featurette-heading">Dziewczyna z sąsiedztwa. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Wiesz, lubię wieczory,
      Lubię się schować na jakiś czas,
      I jakoś tak, nienaturalnie,
      Trochę przesadnie, pobyć sam,
      Wejść na drzewo i patrzeć w niebo,
      Tak zwyczajnie, tylko że
      Tutaj też wiem kolejny raz,
      Nie mam szans być kim chcę. </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="http://tsansai.files.wordpress.com/2012/10/dude_smiling.jpg">
    <h2 class="featurette-heading">Murzyn. <span class="muted">Z samiusieńkiej afryki.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="http://www.nationalgeographicstock.com/comp/RF4/509/1199131.jpg">
    <h2 class="featurette-heading">Wyluzowany odważny człowiek. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Back to top</a></p>
    <p>© 2013 Company, Inc. · <a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Privacy</a> · <a href="http://twitter.github.com/bootstrap/examples/carousel.html#">Terms</a></p>
  </footer>

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="app/assets/javascripts/jquery.js"></script>
<script src="app/assets/javascripts/bootstrap-transition.js"></script>
<script src="app/assets/javascripts/bootstrap-alert.js"></script>
<script src="app/assets/javascripts/bootstrap-modal.js"></script>
<script src="app/assets/javascripts/bootstrap-dropdown.js"></script>
<script src="app/assets/javascripts/bootstrap-scrollspy.js"></script>
<script src="app/assets/javascripts/bootstrap-tab.js"></script>
<script src="app/assets/javascripts/bootstrap-tooltip.js"></script>
<script src="app/assets/javascripts/bootstrap-popover.js"></script>
<script src="app/assets/javascripts/bootstrap-button.js"></script>
<script src="app/assets/javascripts/bootstrap-collapse.js"></script>
<script src="app/assets/javascripts/bootstrap-carousel.js"></script>
<script src="app/assets/javascripts/bootstrap-typeahead.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>
<script src="app/assets/javascripts/holder.js"></script>


</body></html>