
<!DOCTYPE html>
<!--[if IE 6]><html lang="en" class="no-js ie6 lte-ie9 lte-ie8 lte-ie7 lte-ie6 gte-ie6"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7 gte-ie7 gte-ie6"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8 lte-ie9 lte-ie8 gte-ie8 gte-ie7 gte-ie6"><![endif]-->
<!--[if IE 9]><html lang="en" class="no-js ie9 lte-ie9 gte-ie9 gte-ie8 gte-ie7 gte-ie6"><![endif]-->
<!--[if !(lte IE 9)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title>Disturb Media | Work | Selection of our digital projects | iOS and Android App Development |  Web Development</title>
  <meta name="robots" content="noodp" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="web design agency, mobile agency, creative agency, digital agency, mobile application development, ios developers, android developers, iphone developer, digital marketing agency, Disturb Media" />
  <meta name="description" content="Disturb Media produce work across desktop and mobile devices, creating digital campaigns with a heavy bias on social integration." />
  <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" />
  <link href="http://www.disturbmedia.com/workspace/css/disturbstyles.css" rel="stylesheet" type="text/css" />
  <link href="http://www.disturbmedia.com/workspace/css/flexslider.css" rel="stylesheet" type="text/css" />
  <link href="http://www.disturbmedia.com/workspace/css/nanoscroller.css" rel="stylesheet" type="text/css" />
  <link href="http://www.disturbmedia.com/workspace/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="alternate" href="http://www.disturbmedia.com/blog/feed" title="Disturb Blog Feed" type="application/rss+xml" />
  <link rel="shortcut icon" href="http://www.disturbmedia.com/workspace/images/disturb_icon.ico" />
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1493152-3']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body class="page-work">
<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({appId: '444798788889590', status: true, cookie: true,
            xfbml: true});
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
                '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
<a href="#content-main" class="skip">Skip to main content</a>
<div id="site-wrap">
<header id="header">
  <div class="content-wrap">
    <h1 class="hidden">Work</h1>
    <div id="logo">
      <a class="home-link clearfix" href="http://www.disturbmedia.com">
        <img src="http://www.disturbmedia.com/workspace/images/disturblogo.png" alt="Disturb Logo" />
      </a>
    </div>
    <a href="#nav">
      <div id="nav-trigger"></div>
    </a>
  </div>
</header>
<div id="content-main">
  <div class="content-wrap">
    <div id="projects-banner">
      Wybierz miasto, w którym chciałbyś studiować. My Cię tam zabierzemy.
    </div>
    <section class="work clearfix">
      <ul>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/salon-selectives">
              <div class="overlay">
                <h1>Londyn</h1>
              </div>
              <img class="projectImage" src="http://cdn.londonandpartners.com/visit/london-organisations/houses-of-parliament/63950-640x360-london-icons2-640.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/snake-a-mate">
              <div class="overlay">
                <h1>Paryż</h1>
              </div>
              <img class="projectImage" src="http://www.glsvlsi.org/paris_pic.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/clash-magazine-website">
              <div class="overlay">
                <h1> Wiedeń </h1>
              </div>
              <img class="projectImage" src="http://www.marki.net.pl/pliki/2011/06/Zamek-cesarski-Hofburg.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/the-world-is-where-you-live">
              <div class="overlay">
                <h1>Madryt</h1>
              </div>
              <img class="projectImage" src="http://www.travelplanet.pl/dbphotos/przewodnik/madryt_1412.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/orange-upgrade-animation">
              <div class="overlay">
                <h1>Mediolan</h1>
              </div>
              <img class="projectImage" src="http://api.ning.com/files/tv1WgvKJyOUZA5uSOv5957VUpd4UU*EUTIV0RBX28wxHLAeWFOaxjN*yb*bBiBTYVORXplwW7VOdPG3lRnVW0c416fah8DtR/mediolan.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/new-store-launch-app">
              <div class="overlay">
                <h1>Glasgow</h1>
              </div>
              <img class="projectImage" src="https://www.flybe.com/images/destinations/glasgow.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/bbc-earth-website">
              <div class="overlay">
                <h1>Sztokholm</h1>
              </div>
              <img class="projectImage" src="http://omegatravel.elkam.home.pl/omegatravel/cms/images/stories/Zagraniczne/Sztokholm/sztokholm.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/bespoke-jewellery-site">
              <div class="overlay">
                <h1>Holandia</h1>
              </div>
              <img class="projectImage" src="http://studencki-portfel.pl/wp-content/uploads/2012/06/praca.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/find-your-england-footylike">
              <div class="overlay">
                <h1>Dublin</h1>
              </div>
              <img class="projectImage" src="http://www.collegetribune.ie/wp-content/uploads/2012/02/DublinRiverLiffey1.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/fold-booth">
              <div class="overlay">
                <h1>Zurich</h1>
              </div>
              <img class="projectImage" src="http://www.quantumoptics.ethz.ch/uploads/pics/zurich_01.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/blackberry-launch-campaign">
              <div class="overlay">
                <h1>Blackberry Launch Campaign</h1>
              </div>
              <img class="projectImage" src="http://www.disturbmedia.com/image/2/400/287/1/uploads/dooh_cover-50622a2908c41.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/elfinger-iphone-game">
              <div class="overlay">
                <h1>Elfinger iPhone Game</h1>
              </div>
              <img class="projectImage" src="http://www.disturbmedia.com/image/2/400/287/1/uploads/elfinger-cover-5107ee65b6018.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/kelloggs-digital-outdoor">
              <div class="overlay">
                <h1>Kellogg's Digital Outdoor</h1>
              </div>
              <img class="projectImage" src="http://www.disturbmedia.com/image/2/400/287/1/uploads/cover_kellogs-507402b4a405c.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
        <li class="project" id="normal">
          <div class="inner">
            <a href="http://www.disturbmedia.com/work/project/audi-a8l">
              <div class="overlay">
                <h1>Audi A8L</h1>
              </div>
              <img class="projectImage" src="http://www.disturbmedia.com/image/2/400/287/1/uploads/cover_audi2-5072e88e319c8.jpg" alt="" />
            </a>
          </div>
          <img class="spacer" src="http://www.disturbmedia.com/workspace/uploads/spacer.jpg" alt="" />
        </li>
      </ul>
    </section>
    <section class="clients clearfix">
      <div class="dashedLine">
        <h2>OTHER CLIENTS</h2>
      </div>
      <div class="clientsOneRow">
        <img src="http://www.disturbmedia.com/workspace/images/oneRow.jpg" />
      </div>
      <div class="clientsTwoRows">
        <img src="http://www.disturbmedia.com/workspace/images/twoRows.jpg" />
      </div>
    </section>
  </div>
</div>
<nav id="nav" name="nav">
  <div class="content-wrap clearfix">
    <ul>
      <li>
        <a href="http://www.disturbmedia.com/">Home</a>
      </li>
      <li>
        <a href="http://www.disturbmedia.com/about">About</a>
      </li>
      <li class="selected">
        <a href="http://www.disturbmedia.com/work">Work</a>
      </li>
      <li>
        <a href="http://www.disturbmedia.com/blog">Blog</a>
      </li>
      <li>
        <a href="http://www.disturbmedia.com/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<footer id="footer">
  <div class="content-wrap clearfix">
    <div class="footerLeft">
      <div class="logo">
        <img src="http://www.disturbmedia.com/workspace/images/disturblogo.png" alt="Disturb Logo" />
      </div>
      <div class="networkColumn">
        <ul>
          <li>Follow us on <a href="http://twitter.com/disturbmedia" target="_blank">Twitter</a></li>
          <li>Like us on <a href="http://www.facebook.com/disturbmedia" target="_blank">Facebook</a></li>
          <li>See us on <a href="http://www.youtube.com/user/disturbvision" target="_blank">YouTube</a></li>
          <li>Find us on a <a href="http://www.disturbmedia.com/contact/">Map</a></li>
        </ul>
        <div class="terms">
          <small>Disturb Media Limited © 2012 All rights reserved see <a href="http://www.disturbmedia.com/terms-and-conditions/" target="_blank">Terms &amp; Conditions</a></small>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="http://www.disturbmedia.com/workspace/images/footer_man.jpg" />
    </div>
  </div>
</footer>
</div>
<script src="http://www.disturbmedia.com/workspace/js/modernizr.custom.27994.js"></script>
<script type="text/javascript" src="http://cdn.sublimevideo.net/js/lljpfwh7.js"></script>
<script type="text/javascript" src="http://www.disturbmedia.com/workspace/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://www.disturbmedia.com/workspace/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="http://www.disturbmedia.com/workspace/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="http://www.disturbmedia.com/workspace/js/site.js"></script>
<!--[if lte IE 8]><script src="http://disturbmedia.com/workspace/js/css3-mediaqueries.js"></script><![endif]-->
</body>
</html>
